body {
    background-image: url(../Image/FindPasswordBackgroudImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    width: 600px;
    height : 350px;
    background-color: white;
    border: 2px solid black;
    border-radius: 16px;
    margin-left: 150px;
    margin-top : 50px;
    padding-top: 25px;
}
.labelWelcome {
    font-size: 50px;
    font-weight: bold;
    color: palevioletred;
    font-family: Copperplate, Fantasy;
    margin-left: 35px;
}
.labelInfo {
    font-weight: bold;
    color: darkred;
    font-family: Copperplate, Fantasy;
    margin-left: 35px;
}
.txtEnter {
    width: 80%;
    height: 20px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid lightpink;
    background-color: lightpink;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-left: 35px;
}
.txtEnter:focus {
    border: 2px solid red;
    color: red;
    box-shadow: 4px 4px 10px red;
}
.txtEnter:focus::placeholder {
    color: #fa4753;
}
.btn {
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-left: 35px;
    margin-bottom: 20px;
}
.btn:disabled {
    pointer-events: none;
}
.btn:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.btn:active {
    box-shadow: none;
    transform: translateY(0);
}
.Hyper {
    color: deeppink;
    font-family: Copperplate, Fantasy;
    margin-left:35px;
    padding-bottom:15px;
}
.txtSmallEnter {
    width: 40%;
    height: 20px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid lightpink;
    background-color: lightpink;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-left: 35px;
}
.txtSmallEnter:focus {
    border: 2px solid red;
    color: red;
    box-shadow: 4px 4px 10px red;
}

.txtSmallEnter:focus::placeholder {
    color: #fa4753;
}